.highNav {
  overflow: hidden;
  background-color: rgb(153, 245, 202);
  height: 48px;
  padding: 7px;
}

.highNav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.highNav a:hover {
  background-color: rgb(204, 229, 250);
  color: black;
}

.highNav a.active {
  background-color: darkgray;
  color: white;
}


img {
  float: right;
  padding: 9px;
}

h3 {
  margin: 0;
  padding: 12px;
}