.highNav {
  overflow: hidden;
  background-color: rgb(218, 169, 97);
  height: 65px;
  padding: 7px;
  
}

.highNav a {
  float: right;
  color: black;
  text-align: center;
  padding: 0px 13px;
  text-decoration: none;
  font-size: 20px;
  font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
}

.nombreTienda {
  margin: 0;
  padding-block-start: 5px;
  font-size: 20px;
  float: left;
}


.cart{
  float: right;
  padding: 19px 5px;
  padding-right: 0;
}
.Mark{
  background-color: rgb(156, 118, 60);
}

.Icon {
  float: left;
}