.highNav {
  overflow: hidden;
  background-color: rgb(153, 245, 202);
  height: 55px;
  padding: 7px;
}

.highNav a {
  float: left;
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 18px;
}


.highNav a.active {
  background-color: darkgray;
  color: white;
}

.nombreTienda {
  margin: 0;
  padding: 5px;
  font-size: 20px;
  float: right;
}

.cart{
  float: left;
  padding: 5px;
}

.Mark{
  background-color: darkcyan;
}

.brand {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  float: right;
}